body{
	background-image: url(images/bgs-banner/bg-content.png);
	background-repeat: no-repeat;
	background-size: cover;}

#container{
	margin:0% 5% 3% 5%;
	padding: 0% 0% 4% 0%;
  	background-color: rgba(0, 0, 0, 0.25);
  	transition: all 1.5s;
}

#food{
	width: 55%;
  	height: 55%;
	margin:2.25%;
	border: 10px solid rgba(248, 221, 138, 0.5);
	}
h2{
	padding-top: 3%;
	padding-bottom: 3%;
	font-family: 'Kanit', sans-serif;
	font-size: 30px;
	color: white;
	background-color: rgba(0, 0, 0, 0.25);
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 1);
}
.heads{
	padding-top:0.5%;
	margin:0% 5%; 
	font-family: 'Athiti', sans-serif;
	color: white;
	background-color: rgba(0, 0, 0, 0.5);
}
h3{
	padding-top: 1.5%;
	padding-left: 1.5%;
	font-size: 26px;
}
span{
	padding-top: 1.5%;
	padding-left: 1.5%;
	font-size: 18px;
}
ul{
	padding: 2%;
}
.lists{
	font-size: 20px;
}
.lists:hover{
	background-color: rgba(248, 221, 138, 0.5);
	color: white;
}
#thanks{
	margin-top: 2%;
	padding-top: 5%;
	padding-left: 10%;
	color: white;
	font-size: 20px;
	font-family: 'Kanit', sans-serif;
}
#credits{
	padding-top: 2%;
	margin-left: -15%;
	text-align: center;
}
#credit-pic{
	padding: 0.5%;
	margin-left: 10%;
	width: 10%;
	height: 10%;
}
#credit-pic:hover{

	background-color: rgb(250, 250, 250,0.5);
}
#homepage{
	margin-left: -5%;
	text-decoration: none;
	padding: 1.5%;
	border: 5px rgb(248, 221, 138);
	border-radius: 50%;
	background-color: rgb(248, 221, 138,0.7);
	color: maroon;
	font-size: 16px;
	font-family: 'Kanit', sans-serif;
}
#homepage:hover{
	background-color: maroon;
	color: rgb(248, 221, 138);
}


/*ส่วนของJSscript */
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}